@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"),
    url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "UbuntuBold";
  src: local("UbuntuBold"),
    url("./assets/fonts/Ubuntu-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "UbuntuMedium";
  src: local("UbuntuMedium"),
    url("./assets/fonts/Ubuntu-Medium.ttf") format("truetype");
}

body {
  font-family: "Ubuntu", system-ui, Helvetica, Arial, sans-serif;
}
.bold {
  font-family: "UbuntuBold", system-ui, Helvetica, Arial, sans-serif;
}
.medium {
  font-family: "UbuntuMedium", system-ui, Helvetica, Arial, sans-serif;
}
